<main class="main-visual d-flex align-items-center">
  <div class="container">
    <div class="row">

      <div class="col-8 mx-auto">
         <div class="row mb-5">
           <h4>既存アカウントのログインはこちら</h4>
          <%= link_to " Log in", new_user_session_path, class:'fas fa-sign-in-alt fa-4x btn btn-outline-secondary btn-block' %>
        </div>
        <div class="row">
          <h4>新規アカウントのご登録はこちら</h4>
          <%= link_to " Sign up", new_user_registration_path, class:'fas fa-user-plus fa-4x btn btn-outline-secondary btn-block' %>
        </div>
      </div>
    </div>
  </div>
</main>