<h2>タグリスト</h2>
<table class="table">
<% tag_list.each do |list| %>
 <tbody>
   <td>
     <%= link_to list.tag_name, tag_posts_path(tag_id: list.id) %>
     <%= "(#{list.posts.count})" %>
   </td>
 </tbody>
<% end %>
</table>