<div class="container">
  <div class="row">
    <div class="col-3 mt-3">
      <%= render 'taglist', tag_list:@tag_list %>
    </div>
    <div class="col-8 mt-3">
     <%= render 'list', posts:@posts %>
    </div>
  </div>
</div>