<div class="container">
  <div class="row">
    <div class="col-3 mt-3">
      <%= render 'taglist', tag_list:@tag_list %>
    </div>
    <div class="col-8 mt-3">
     <h2>投稿一覧</h2>
     <div><%= render 'list', posts:@posts %></div>
     <div class="list-paginate"><%= paginate @posts %></div>
    </div>
  </div>
</div>